.homepage-content {
    text-align: center;
    margin-top: 20px;
  }
  
  .homepage-content h1 {
    font-size: 2.5rem;
  }
  
  .homepage-content img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .homepage-content p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  